@font-face {
  font-family: "iconfont"; /* Project id 5230834 */
  src: url('iconfont.woff2?t=1788708439813') format('woff2'),
       url('iconfont.woff?t=1788708439813') format('woff'),
       url('iconfont.ttf?t=1788708439813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanziwancheng:before {
  content: "\e61e";
}

.icon-guanbi:before {
  content: "\e61f";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-shangchuantupian:before {
  content: "\e621";
}

.icon-jinru:before {
  content: "\e622";
}

